@charset "UTF-8";


@font-face {
    font-family: 'PassionOne' ;
    src: url('fonts/PassionOne-Bold.ttf') format(truetype);
    font-weight: normal;
}
@font-face {
    font-family: 'Sriracha';
    src: url('fonts/Sriracha-Regular.ttf') format(truetype);
}
*{
    padding: 0px;
    margin: 0px;
}
:root {
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'PassionOne';
    --font3: 'Sriracha';
}
html, body{
    
min-height: 100vh;

}

header{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 50px;

}
header>h1{
    font-family: var(--font2);
    margin: 0px;
    font-variant: small-caps;
    font-size: 7vw;
}
header>p{
    font-family: var(--font2);
    text-align: center;
    font-weight: lighter;
    padding-bottom: 50px;
}
header>p>a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}
header>p:hover>a{
   color: blue;
}


section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    line-height: 2em;
}
 
section > p {
    font-family: var(--font3);
    padding: 40px;
    margin: 40px;
    font-size: 3.2vw;
    line-height: 1.5em;

}
section.imagem{
    background-color: rgba(0, 0, 0, 0.418);
    color: white;
    width: 97vw;
    box-shadow: inset 1px 5px 7px rgba(0, 0, 0, 0.397);
}

section.imagem > p{
  background-color: rgba(0, 0, 0, 0.395);
  width: 50vw;
}

section#img1{
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-position: right center;
    background-attachment: fixed;
}
section#img2{
    background-image: url(imagens/background002.jpg);
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}

section.normal > p{
    width: 400px;
}


footer{
     color: white;
     background-color: black;
     margin: auto;
     text-align: center;
     font-family: 'Courier New', Courier, monospace;
     padding: 2px 5px;
}
footer p{
   max-width: 500px;
   
}
footer a{
    color: white;
    text-decoration: none;
    font-weight: bolder;
}